* {
    padding: 0px;
    margin: 0px;
}

html {
    background: url(bg-2.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #FAF9FE;
    font-family: 'Red Hat Display';
}

body {
    margin-left: 55px;
    margin-right: 55px;
}

.big-brand-text {
    font-size: 96px;
    font-weight: 500;
    z-index: 1;
    transform: translateY(218px);
    font-family: 'Red Hat Display Medium';
}

p {
    font-family: 'Red Hat Display Medium';
    font-size: 18px;
    word-spacing: 2px;
}

.primary-btn {
    width: 263px;
    height: 54px;
    border: none;
    outline: none;
    border-radius: 60px;
    background-color: #9378FF;
    -webkit-box-shadow: -1px 0px 37px -6px rgba(147, 120, 255, 0.48);
    -moz-box-shadow: -1px 0px 37px -6px rgba(147, 120, 255, 0.48);
    box-shadow: -1px 0px 37px -6px rgba(147, 120, 255, 0.48);
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
}

.primary-btn.cta {
    transform: translateY(452px);
}

.log-in-text {
    transform: translateY(492px);
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-left: 10px;
    color: #120E21;
}

.log-in-text span a {
    text-decoration: none;
    text-align: center;
    color: #120E21;
    font-weight: 500;
}


/* onboard-2*/

.small-brand-text {
    font-size: 32px;
    font-weight: 500;
    color: #120E21;
    margin-top: 40px
}

.ob-img-2 {
    margin-top: 100px;
}

.ob-img-5 {
    margin-top: 20px;
}

.ob-2-text {
    transform: translateY(-100px);
}

.ob-2-group {
    transform: translateY(-80px);
}


/* SignUp*/

.signup-card {
    width: 343px;
    height: 480px;
    background-color: #9378FF;
    margin-top: 80px;
    border: 1px solid #FBEAFF;
    z-index: 1;
    background-color: #FFFFFF;
    -webkit-box-shadow: -1px 1px 16px 3px rgba(251, 238, 255, 1);
    -moz-box-shadow: -1px 1px 16px 3px rgba(251, 238, 255, 1);
    box-shadow: -1px 1px 16px 3px rgba(251, 238, 255, 1);
    border-radius: 10px;
}

input[type=text] {
    width: 300px;
    height: 56px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    background-color: #FBEEFF;
    margin-top: 20px;
    border-radius: 10px;
    padding: 5px 10px;
    color: #99879D;
}

input[type=email] {
    width: 300px;
    height: 56px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    background-color: #FBEEFF;
    margin-top: 20px;
    border-radius: 10px;
    padding: 5px 10px;
    color: #99879D;
}

input[type=password] {
    width: 300px;
    height: 56px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    background-color: #FBEEFF;
    margin-top: 20px;
    border-radius: 10px;
    padding: 5px 10px;
    color: #99879D;
}

.signup-text {
    font-size: 27px;
    font-weight: 400;
    color: #120E21;
}

input[type=password]::placeholder {
    font-size: 16px;
    margin-left: 10px;
    color: #99879D;
    text-transform: capitalize;
    transform: translateX(20px);
}

input[type=text]::placeholder {
    font-size: 16px;
    margin-left: 10px;
    color: #99879D;
    text-transform: capitalize;
    transform: translateX(20px);
}

input[type=email]::placeholder {
    font-size: 16px;
    margin-left: 10px;
    color: #99879D;
    text-transform: capitalize;
    transform: translateX(20px);
}